body {
    font-family: fantasy;
    font-size: medium;
    display: flex;
}

.choices {
    display: flex;
    flex-wrap: wrap;
    
}
.options {
    flex-basis: 24%;
    margin: 2vh;
    border: 1px dashed;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
    background-color: khaki;
}

.button{
display: flex;
align-items: center;
justify-content: center;
margin: 100px;
}

.customOrders{
    display: flex;
    justify-content: center;

}

.orderDisplay{
    border: dashed;
    padding: 1em;
    list-style-type: none;
}

